<style>
  .login-page {
    width: 360px;
    padding: 4% 0 0;
    margin: auto;
  }

  .form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }


  .form button:hover, .form button:active, .form button:focus {
    background: #3370B7;
  }

  .form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
  }

  .form .message a {
    color: #3C7FB0;
    text-decoration: none;
  }

  .form .register-form {
    display: none;
  }

  .container {
    position: relative;
    z-index: 1;
    max-width: 300px;
    margin: 0 auto;
  }

  .container:before, .container:after {
    content: "";
    display: block;
    clear: both;
  }

  /*.container .info {*/
    /*margin: 50px auto;*/
    /*text-align: center;*/
  /*}*/

  .container .info h1 {
    margin: 0 0 15px;
    padding: 0;
    font-size: 36px;
    font-weight: 300;
    color: #1a1a1a;
  }

  /*.container .info span {*/
    /*color: #4d4d4d;*/
    /*font-size: 12px;*/
  /*}*/

  /*.container .info span a {*/
    /*color: #000000;*/
    /*text-decoration: none;*/
  /*}*/

  /*.container .info span .fa {*/
    /*color: #EF3B3A;*/
  /*}*/

  body {
    background: #1a1026;
    background: -webkit-linear-gradient(right, #1a1026, #1a1026);
    background: -moz-linear-gradient(right, #1a1026, #1a1026);
    background: -o-linear-gradient(right, #1a1026, #1a1026);
    background: linear-gradient(to left, #1a1026, #1a1026);
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }


</style>



<div class="login-page">
  <div class="form">
<div style="align: center" align="center">
<h1>InvEX</h1>
</div>
  <br>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field" align="center">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field" align="center">
    <%= f.label :password , "Senha"%>
    <%= f.password_field :password, autocomplete: "current-password"%>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field" style="margin-left: 49%;">
      <%= f.check_box :remember_me%>
      <%= f.label :remember_me, "Lembrar de mim" %>
    </div>
  <% end %>


  <div class="actions">
    <%= f.submit "Fazer login" , class: "btn btn-primary btn-lg"%>
  </div>
<% end %>
    <br>

     <%= render "users/shared/links" %>
</div>
</div>