<%= form_with(model: roteiro, local: true) do |form| %>
  <% if roteiro.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(roteiro.errors.count, "error") %> prohibited this roteiro from being saved:</h2>

      <ul>
      <% roteiro.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :usuario %>
    <%= form.text_field :usuario %>
  </div>

  <div class="field">
    <%= form.label :historia %>
    <%= form.text_field :historia %>
  </div>

  <div class="field">
    <%= form.label :titulo %>
    <%= form.text_field :titulo %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
