<p id="notice"><%= notice %></p>

<h1>Roteiros</h1>

<table>
  <thead>
    <tr>
      <th>Usuario</th>
      <th>Historia</th>
      <th>Titulo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @roteiros.each do |roteiro| %>
      <tr>
        <td><%= roteiro.usuario %></td>
        <td><%= roteiro.historia %></td>
        <td><%= roteiro.titulo %></td>
        <td><%= link_to 'Show', roteiro %></td>
        <td><%= link_to 'Edit', edit_roteiro_path(roteiro) %></td>
        <td><%= link_to 'Destroy', roteiro, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Roteiro', new_roteiro_path %>
