<p id="notice"><%= notice %></p>

<p>
  <strong>Save:</strong>
  <%= @capitulo.save %>
</p>

<p>
  <strong>Usuarios:</strong>
  <%= @capitulo.usuarios %>
</p>

<p>
  <strong>Historia:</strong>
  <%= @capitulo.historia %>
</p>

<%= link_to 'Edit', edit_capitulo_path(@capitulo) %> |
<%= link_to 'Back', capitulos_path %>
