<p id="notice"><%= notice %></p>

<h1>Historia</h1>

<table>
  <thead>
    <tr>
      <th>Titulo</th>
      <!-- <th>Descricao</th> -->
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @historia.each do |historium| %>
      <tr>
        <td><%= historium.titulo %></td>
        <!-- <td><%= historium.descricao %></td> -->
        <td><%= link_to 'Mostrar Detalhes', historium %></td>
        <td><%= link_to 'Editar', edit_historium_path(historium) %></td>
        <td><%= link_to 'Deletar', historium, method: :delete, data: { confirm: 'Você têm certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<li><a href="">Editar Perfil</a></li>
<%#= link_to 'Nova História', new_historium_path %>
