<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @historium.titulo %>
</p>


<p>
  <strong>Descricao:</strong>
  <%= @historium.descricao %>
</p>


<%= link_to 'Editar', edit_historium_path(@historium) %> |
<%= link_to 'voltar', historia_path %>

